body {
    margin: 0;
    padding: 0;
    background: rgb(245, 245, 245);
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-pass-box {
    border-radius: 22px;
    box-shadow: 5px 5px 10px #acacac, -5px -5px 10px #ffffff;
    width: 40vh;
    height: 50vh;
    color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin: 40px 0 50px 0;
}

p {
    text-align: center;
    padding: 0px 40px 20px 40px;
}

.reset-pass-box input {
    width: 80%;
    margin: 20px 0px 0px 40px;
    text-align: center;
}

.reset-pass-box input[type="email"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.reset-pass-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(245, 245, 245);
    box-shadow:  5px 5px 5px #b0b0b0, -5px -5px 5px #ffffff;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    margin: 90px 0 40px 40px;
}

.reset-pass-box:hover {
    transform: scale(1.05);
    transition: 0.5S;
    box-shadow:  15px 15px 30px rgb(176, 176, 176), -15px -15px 30px #ffffff;
}

.reset-pass-box input[type="submit"]:hover {
    box-shadow: inset 5px 5px 5px rgb(176, 176, 176), inset -5px -5px 5px #ffffff;
    font-size: 17px;
}

input[type="email"]:valid {
    border-bottom: 1px solid rgb(0, 255, 0);
}

input[type="email"]:invalid {
    border-bottom: 1px solid red;
}